<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tea Loza - Cart</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700;900&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/home_index.css" rel="stylesheet">
</head>

<body>
<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
</div>
<!-- Spinner End -->


<!-- Navbar Start -->
<%- include('../../partials/header.ejs', {
active: '',
currentUser: ''
}); %>
<!-- Navbar End -->


<!-- Container-->
<div class="container-xxl py-5">
    <div class="container">
        <div>
            <% if (message) { %>
                <div class="alert alert-<%= message.type %> alert-dismissible fade show" role="alert">
                    <strong><%= message.message %></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } %>
            <div
                    class="bs-toast toast toast-placement-ex m-2 bottom-0 end-0"
                    role="alert"
                    aria-live="assertive"
                    aria-atomic="true"
                    data-delay="2000"
            >
                <div class="toast-header bg-primary">
                    <i class="bx bx-bell me-2"></i>
                    <div class="me-auto fw-semibold">Tea Loza</div>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">Fruitcake chocolate bar tootsie roll gummies gummies jelly beans cake.</div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-border-bottom-0" id="table-orders">
                <thead>
                <tr>
                    <th scope="col">
                        <input type="checkbox" class="form-check-input" id="checkAll">
                        <label class="form-check-label" for="checkAll">All</label>
                    </th>
                    <th scope="col" class="text-center">Product</th>
                    <th scope="col" class="text-center">Price</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-end">
                        <smal>
                            <strong class="text-danger">Remember</strong>! Press check icon to update your cart.
                        </smal>
                    </td>
                </tr>
                </smal>
                </tfoot>
            </table>
        </div>

        <div class="row mt-4">
            <div class="col-12 text-end">
                <button type="button" class="btn btn-primary btn-lg rounded" id="btn-checkout">Checkout</button>
            </div>
        </div>
    </div>
</div>


<!-- Footer Start -->
<%- include('../../partials/footer.ejs') %>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="/js/home/main.js"></script>
<script src="/js/utils/auth/logout.js"></script>
<script src="/js/utils/ui/util.function.js"></script>
<script src="/js/home/cart-order-guest.js"></script>
</body>

</html>